html{
  font-family: Times New Roman;
}
a{
  text-decoration: none;
  color: #1772d0;
}
.navbar a, .navbar a:hover, .navbar a:focus, .navbar a:active {
     text-decoration: none;
     color: inherit;
}
h1{
  font-size: 60px;
}
